.admin-menu {
   
    margin-right: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    /* padding: 20px; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px; /* Điều chỉnh chiều rộng theo nhu cầu của bạn */
  }
  
  .admin-menu__welcome {
    font-size: 18px;
    font-weight: bold;
  }
  
  .admin-menu__list {
 
    list-style: none;
    padding: 0;
    margin: 10px 0;
  }
  
  .admin-menu__item {
    
    margin-bottom: 5px;
  }
  
  .admin-menu__link {
    /* các kiểu chung cho link */
    text-decoration: none;
    color: #000000;
    display: block;
    padding: 8px 10px;
    margin-left: 20px;
    transition: background-color 0.3s ease;
}

.admin-menu__link--active {
    font-weight: 600;
    color: rgb(255, 255, 255);
    background: rgba(30, 255, 0, 0.616);
}
.admin-all-account{
    display: flex;
}
